<footer class="footer py-4 text-center">
    <div class="container">
        <p class="mb-4 fw-bold">
            &copy: 2022 - Desarrollado por Dante Stringa :: <span id="fecha"></span>
        </p>
    </div>
</footer>

<script>
    let fecha = new Date()
    let miFecha = fecha.toLocaleDateString
</script>